
 /* .bg-gray-400 {
    backdrop-filter: blur(1000px); 
  }  */
#glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#signupImage{
    /* align-items: center; */
    height: 100%;
    /* width: 100%; */
    /* display:grid; */
    /* justify-content: center; */
}

#forget{
    padding-left: 40px;
}
/* .container {
    position: relative;
    background: radial-gradient(#faebdf, #9198e5);
}

.background {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 10%;
}

#overlay {
    position: relative;
    z-index: 1;
} */


/* .multi-bg-example {
    width: 100%;
    height: 400px;
    background-image: url(firefox.png), url(bubbles.png), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
      bottom right,
      left,
      right;
  }
   */

/* 
#fhalf {
    margin-top: 170px;
   
} 

#signupImage {
   

}

#shalf {
    margin-top: 70px;
 
} */